
body{
    padding-top: 130px;
    
    height: 9000px;
}
.allgrid{
    
    margin: 10px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 26px;
    margin-left: 98;
}
p{
    font-family: 'Roboto','Arial';
    font-weight: 440;
    font-size: 14px;
    
}
.title{
    
    font-family: 'Arial';
    font-weight: bold;
   
 margin: 0px;
   line-height: 20px;
   font-size: 17px;
}

.thumbnail{
    
    border-radius: 12px;
    display: block;
    width: 100%;
    cursor: pointer;
}
.video-preview1{
    vertical-align: top;
    
    
    
}

.ytname{
    cursor: pointer;
    
    
    color: rgb(96, 96, 96);
    margin-top: 10px;
    margin-bottom: 3px;
}

.ytname:hover{
    color: rgb(39, 39, 39);
}
.views{
    
    
    margin-top: 0px;
    color: rgb(96, 96, 96);
  
}
.logo{
    
    
  
   
    border-radius: 40px;
    width: 100%;
}


.logodiv{ 
    
    vertical-align: top;
    margin-left: 2px;
    
    
}



.grid{
   
    column-gap: 13px;
    margin-top: 20px;
    display: grid;
    grid-template-columns:46px 1fr;
}

/* header */

.header{
    margin-bottom: 0px;
    
    height: 52px;
    display: flex;
    flex: row;
column-gap: 85px;
position: fixed;
background-color: rgba(255, 255, 255, 0.9940);
top: 0;
padding-top: 8;
z-index: 2;

}

.ytlogo{
    width: 230px;
    
}
.searchbar{
    margin-left: 40px;
    margin-top: 1px;
    display: flex;
    flex: row;
   flex: 1;
   justify-content: center;
   max-width: 848px ;

   /* background-color: pink; */
    
}
.profile{
    width: 320px;
    display: flex;
    flex-direction: row;
    column-gap: 19px;
    /* justify-content: space-between; */
    /* background-color: lightgreen; */
}

#ytlogo{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 13px;
    margin-left: 14px;
    vertical-align: top;
    width:179px ;
}

.category{
   
background-color: rgba(255, 255, 255, 0.9940);
padding-bottom: 15px;
    display: flex;
    flex-direction: row;
column-gap: 15px;
margin-bottom: 20px;
margin: 0px;
 margin-left: 109px;
  position: fixed;
  right: 0;
  left: -4;
   z-index: 3;
}
.subcategory{
   
    cursor: pointer;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    font-family: Roboto;
background-color: rgba(227, 227, 227, 0.426);
color: rgb(43, 43, 43);
width: fit-content;
height: 20px;
padding: 11px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 9px;
transition: all 0.3s;
}

.subcategory:hover{
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
}


#sbar{
    font-family: roboto;
    font-size: 18px;
    border-top-left-radius: 32px 32px;
    border-bottom-left-radius: 32px 32px;
    width: 590px;
    padding: 10px;
    padding-left: 20px;
    height: 45px;
    border: 1.6px solid rgba(98, 97, 97, 0.429);
}
#searchlogo{
    
    width: 69px;
    background-color: rgba(217, 217, 217, 0.226);

    border-top-right-radius: 32px 32px;
    border-bottom-right-radius: 32px 32px;

    height: 41.832px;
    border: 1.6px solid rgba(198, 198, 198, 0.847);
    border-left: 0px;

}

#searchlogo:hover{
background-color: rgba(217, 217, 217, 0.426);
}
#slogo{
    cursor: pointer;
    padding: 11px;
    padding-left: 25px;
    width: 30%;
}
#miclogo{
    cursor: pointer;
    margin-left: 16px;
    width: 45px;
    height: 45;
    border-radius: 240px;
    
    background-color:rgba(227, 227, 227, 0.426) ;
}
#mlogo{
    padding: 11px;
    padding-left: 14px;
    width: 38%;
}
#miclogo:hover{
    background-color: rgba(217, 217, 217, 0.666);
}
#create{
    margin-top: 4px;
 border-radius: 600px;
    width:111px ;
    height: 40px;
    background-color: rgba(227, 227, 227, 0.426);
}
#create:hover{
    cursor: pointer;
    background-color: rgba(217, 217, 217, 0.666);

}
#clogo{
    width: 79px;
    margin: 9px;
    margin-left: 14px;
}

#noti{
    border-radius: 600px;
/* background-color: rgba(217, 217, 217, 0.426); */
}
#nlogo{
    margin-top: 9px;
    width: 36px;
    cursor: pointer;
}


#plogo{
    margin-top: 4px;
width: 38px;
cursor: pointer;
}

.sidebar{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    position: fixed;
    left: 0;
    width: 79px;
    top: 52px;
    bottom: 0;
    /* background-color: red; */
    align-items: center;
    padding-top: 16px;
   
}

.sbox{
    border-radius: 9px;
    display: flex;
    align-items: center;
    /* background-color: green; */
    height: 79px;
    width: 69px;
    cursor: pointer;
}
.sbox:hover{
    
    background-color: rgba(227, 227, 227, 0.426);
}

#simg1{
    width: 29px;
    margin-left: 21px;
}

#simg2{
    width: 62px;
    margin-left: 4px;
}

#simg3{
   width: 25px;
    margin-left: 21px;
}

#simg4{
   width: 35px;
    margin-left: 16px;
}

.himg{
    z-index: 0;
    position: relative;

}
.time{
    padding: 3px;
    font-family: roboto;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    background-color: rgba(24, 24, 24, 0.775);
    position: absolute;
    bottom: 9px;
    right: 9px;
}

@media(max-width:600px){
    .allgrid{
        grid-template-columns: 1fr 1fr;
    }
}