
.title{
    font-family: 'Arial';
    font-weight: bold;
   width: 520px;
    /* text-align: center; */

}
.logo{
    height: 50px;
    margin-bottom: -18px;
}
.views{
margin-top: -18px;
font-family: 'Segoe UI';
color: rgb(96, 96, 96);
font-weight: 450;

}
.ytname{
    font-size: 18px;
    font-family: 'Gill Sans MT';
    color: rgba(59, 56, 56, 0.85);
    
    margin-top: 24px;
    margin-bottom: 30px;
    
}
.tick{
    margin-bottom: -2px;
    height: 16px;
    display: inline-flex;
    margin-left: 4px;
}

.descript{
    width: 330px;
    color: rgba(59, 56, 56, 0.901);
    margin-top: -7px;
    line-height: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, s;
}
